version: '3.8'
services:
  loki:
    image: grafana/loki:3.5.8
    container_name: loki
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./loki_data:/tmp/loki
      - ./loki/local-config.yaml:/etc/loki/local-config.yaml:ro
    ports:
      - '3100:3100'
    restart: unless-stopped

  vector:
    build:
      context: ./vector
    container_name: vector_hobot
    env_file:
      - .env
    volumes:
      - ./vector/vector.toml:/etc/vector/vector.toml:ro
    environment:
      - LOKI_HOST_LABEL=${SSH_HOST_HOBOT}
    command: ['--config', '/etc/vector/vector.toml']
    restart: unless-stopped
    depends_on:
      - loki

  prom:
    image: prom/prometheus:v3.7.3
    container_name: prometheus
    volumes:
      - prometheus_data:/prometheus
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
    ports:
      - '9090:9090'
    restart: unless-stopped

  grafana:
    image: grafana/grafana:12.4.0-19363970803
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
    ports:
      - '3000:3000'
    depends_on:
      - prom
      - loki
    restart: unless-stopped

volumes:
  prometheus_data:
  loki_data:
  grafana_data:
